// MAIN SECTION


// TOP SECTION
.main__section--top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 50px 0px;
}

.main__top--content, .main__top--form{
    width: 45%;
    background-color: $lightGrey;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 1px 4px #b1b1b1;
    border-radius: 10px;

    p{
        @include fontSize(12);
        span{
            color: $orange;
        }
    }
}

.main__image{
    width: 100%;
    height: auto;
}

.PACForm{
    display: flex;
    flex-direction: column;
    button{
        background-color: $orange;
        border: 2px solid lighten($orange, 15);
        color: $mainBlue;
        border-radius: 15px;
        width: 50%;
        margin: 0 auto;
        font-size: 18px;
        padding: 5px;
        text-transform: uppercase;
        transition: 0.4s;
        cursor: pointer;
        &:hover{
            background-color: $mainBlue;
            border: 2px solid lighten($mainBlue, 15);
            color: white;
        }
    }

    input{
        line-height: normal;
        border: 1px solid gray;
        padding: 5px;
        margin: 10px;
    }
}

// BOTTOM SECTION
.main__section--bottom{
    background-color: $lightGrey;
}

.main__bottom--info{
    text-align: center;
    padding: 25px;
    h2{
        margin: 0;
        @include fontSize(16);
        text-decoration: underline;
        text-decoration-color: $orange;
        text-transform: uppercase;
    }
}

.main__bottom--lists{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
}

.main__bottom--listOne, .main__bottom--listTwo{
    padding: 0;
    margin: 20px auto;

    li{
        margin: 5px;
        color: $orange;

        span{
            color: black;
            @include fontSize(12);
        }
    }
}

.main__section--boxOffice{
    text-align: center;
    margin: 50px auto;
    p{
        @include fontSize(12);
    }
}

.diagonal{
    border-width: 0 0 90px 100vw;
    border-bottom-color: $lightGrey;
    border-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    position: relative;
};

// .diagonalTwo{
//     border-width: 90px 100vw 0px 0px;
//     border-top-color: $lightGrey;
//     border-style: solid;
//     border-right-color: transparent;
//     border-left-color: transparent;
//     position: relative;
// };

.diagonalTwo{
    border-width: 0 100vw 90px 0;
    border-bottom-color: white;
    border-style: solid;
    border-left-color: transparent;
    border-right-color: $lightGrey;
    position: relative;
};



// MEDIA BREAK POINTS

@media only screen and (max-width: 768px){
 // TOP
    .main__section--top{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .main__top--content, .main__top--form{
        width: 95%;
    }

    .main__top--content{
        margin-bottom: 50px;
    }

// BOTTOM
    .main__bottom--info{
        padding: 5px;
    }

    .main__bottom--lists{
        flex-direction: column;
        text-align: center;
    }

}